<div class="container namedown">
  <h2 >Stardust Chatroom</h2>
  <button class="btn btn-warning btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Online Users <span class="caret"></span></button>
  <ul class="list-unstyled dropdown-menu" role="menu">
  <li><a ui-sref="profile" class="not-active">{{user.handle}}</a></li>
</ul>



<div class="well">
  <ul class="list-unstyled">
    <li ng-repeat="message in messages track by $index">
     <img ng-src="{{user.photo}}" height="50px" width="50px" class="img-circle">  <a ui-sref="profile" class="not-active"><strong>{{user.handle}}</strong></a>  {{message | date : HH:mm:ss }}
    </li>
  </ul>
</div>

<form ng-submit="publish()">
  <input class="form-control" type="text" ng-model="newMessage" />
  <input class="btn btn-warning" type="submit" value="Send" />
</form>






</div>
