<div class="container">
    <main class="choose-reason" ng-controller="ChooseCtrl">
        <h2>Hey <span class="handle-name">@{{user.handle}}</span> are you going to the cafe to:</h2>
        <form name="myReason">
            <input type="radio" ng-model="reason" value="Code"> Code
            <br/>
            <input type="radio" ng-model="reason" value="Talk"> Talk (You forgot your MacBook)<br/>

        </form>




    <section class="choose-title">
      <h2>I like to talk/code about:</h2>
        <form action="">
            <input type="radio" ng-model="tech" value="Front-end">Front-end
            <br>
            <input type="radio" ng-model="tech" value="Back-end">Back-end<br/>
            <input type="radio" ng-model="tech" value="Mobile">Mobile<br/>
             <input type="radio" ng-model="tech" value="Web Design">Web Design<br/>
        </form>
        <h4>So @{{user.handle}} is going to the cafe to {{reason}} about {{tech}} cool.</h4>
          <button>Next</button>
    </section>

    </main>
</div>
