<div class="container">
    <main class="choose-reason" ng-controller="ChooseCtrl as choose">
        <h2>Hey <span class="handle-name">@{{user.handle}}</span> are you going to the cafe to:</h2>
        <form name="myReason">
            <input type="radio" ng-model="reason.name" value="Code"> Code
            <br/>
            <input type="radio" ng-model="reason.name" value="Talk"> Talk <br/>
            <input type="radio" ng-model="reason.name" valie="Both"> Both
        </form>




    <section class="choose-title">
      <h2>I like to talk/code about:</h2>
        <form action="">
            <input type="radio" ng-model="field.name" value="Front-end">Front-end
            <br>
            <input type="radio" ng-model="field.name" value="Back-end">Back-end<br/>
            <input type="radio" ng-model="field.name" value="Mobile">Mobile<br/>
             <input type="radio" ng-model="field.name" value="Web Design">Web Design<br/>
        </form>
    </section>

    </main>
</div>
