.angular-google-map-container {
    height: 300px;

    filter: alpha(opacity=40);
    background: transparent no-repeat 0 0;
    opacity: 0.6;



}

@mixin font {
    font-family: 'Montserrat', serif;
}
$button: #8CBEB2;
$headlines: #01B6AD;
body {
    background: url('../assets/images/bg.gif') no-repeat center center fixed;
    background-size: cover;
}
header {
    color: $headlines;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
#bottom-cup {
    font-size: 1em;
    @include font;
}
h1, h2 {
    font-family: 'Press Start 2P', cursive;
}
input.login {
    display: block;
    width: 175px;
    height: auto;
    @include font;
    background-color: #ddd;
    font-size: 1.5em;
    margin: 10px auto;
    border: none;
    padding: 8px;
    border-radius: 3px;
    border-left: solid 40px #444;
}
button.submit {
    display: block;
    background-color: darken($button, 10%);
    margin: 45px auto;
    width: 230px;
    height: 70px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0px 0px 1px #ddd;
    border-top: solid 7px darken($button, 20%);
    cursor: pointer;
    &:hover {
        border-top: solid 7px darken($button, 30%);
        background-color: darken($button, 20%);
    }
    &:focus {
        outline: none;
    }
}
.twitter {
    color: cornflowerblue;
    padding: 1.2em;
}
.github {
    color: black;
    padding: 1.2em;
}
.choose-reason, .choose-title {
    @include font;
    h2 {
        color: #F8717E;
    }

    span {
      color: #cc1075;
    }

    button {
      background-color: $button;
      border-radius: 30%;
      @include font;
    }

    h4 {
      @include font;
      color: #cc1075;
    }
}

.ending-foot {
  @include font;
}

.main-profile {

  h2 {
    margin-bottom: 3em;
  }
  p {
    @include font;
    color: black;
  }

  img {
    border-radius: 50%;
    height: 200px;
    width: 200px;

  }
}

// injector
// endinjector
