// .browsehappy {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }
// .thumbnail {
//   height: 200px;
//   img.pull-right {
//     width: 50px;
//   }
// }
@mixin font {
    font-family: 'Montserrat', serif;
}
$button: #8CBEB2;
body {
    background: url('http://media.giphy.com/media/qxKCjhcZbWgRG/giphy.gif') no-repeat center center fixed;
    background-size: cover;
}
header {
    color: black;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
#bottom-cup {
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    font-family: 'Press Start 2P', cursive;
}
input.login {
    display: block;
    width: 175px;
    height: auto;
    @include font;
    background-color: #ddd;
    font-size: 1.5em;
    margin: 10px auto;
    border: none;
    padding: 8px;
    border-radius: 3px;
    border-left: solid 40px #444;
}
.bottom-foot {
    color: black;
    position: absolute;
    bottom: 4em;
    @include font;
}

button.submit{
  display: block;
  background-color: darken($button,10%);
  margin: 45px auto;
  width: 230px;
  height: 70px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 2.5em;
  text-shadow: 0px 0px 1px #ddd;
  border-top: solid 7px darken($button,20%);
  cursor: pointer;
  &:hover {
  border-top: solid 7px darken($button,30%);
  background-color: darken($button, 20%);
  }
  &:focus {
    outline:none;
  }
}

.twitter {
  color: cornflowerblue;
}

.facebook {
  color: #3F5C9A;
}
// injector
// endinjector
